/////////////////// Media Disribution Config File \\\\\\\\\\\\\\\\\\\\\\\

- Media distribution configuration file
- Do not change the hashtag enclosed words
- Add edits after the hashtag words
- Alpha range accepts either a '*' character (indicating any range)
  or a range (of numbers to letters) '$-$'. ie. 'A-Z', 'B-N', '0-Z', '0-9' 

#Media Filters# .wmv, .mkv, .avi, .mp4, .divx, .xvid, .mpeg, .h264, .x264, .ts

#Source# 
#Source Permissions# 

#Destination# 
#Destination Permissions# 

#Transfer Type# Move

#Keep Subdirectory# True

#Media Type# Series

#Alpha Range# *

